<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <%- include('../partials/nav'); %>
</head>
<body >
    
    <h2>Welcome <%- name %></h2>
    <h4>Here are your medicines</h4>
    <%- include('../partials/script'); %>
</body>
</html>