<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="d-flex h-100 text-center text-bg-dark" >


    <div class="site-wrapper">

        <div class="site-wrapper-inner">
  
          <div class="container">
  
            <div class="masthead clearfix">
              <div class="container inner">
                <h3 class="masthead-brand">Med<span style="font-weight: 900;">Care</span></h3>
                
              </div>
            </div>
  
            <div class="inner cover">
              <h1 class="cover-heading">Medicine <span style="color: blue;">Tracking</span> Website</h1>
              <p class="lead">
                Use MedCare's cloud system to create a medication list and log of your current and previous prescriptions that follows you (and your family caregiver) everywhere you go. Once you've entered your medications, you can choose to use the built-in medication reminder service and log how well you've been sticking to your schedule. By keeping a digital log of your medication intake, it can help your healthcare providers manage your care better!</p>
              <p class="lead">
                <a href="/login" class="btn btn-lg btn-default">Login</a>
              </p>
            </div>
  
          </div>
  
        </div>
  
      </div>




</body>
</html>